In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import sklearn
from sklearn.preprocessing import LabelEncoder 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [2]:
diabetes = pd.read_csv('./dataset/diabetes.csv')
diabetes

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [3]:
df = diabetes.copy()

In [4]:
df.shape

(768, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [7]:
df.duplicated().sum()

0

In [8]:
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [10]:
X = df.iloc[:,:8]

In [13]:
y = df.Outcome

In [14]:
# 2. train_test_split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=2022, stratify=y, shuffle=True)

In [17]:
X_train.shape, X_test.shape

((614, 8), (154, 8))

In [18]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler() 
ss.fit(X_train)
X_train_scaled = ss.transform(X_train)   # 스케일링 진행, array 형식으로 출력됨
X_test_scaled = ss.transform(X_test)
y_train = y_train.to_numpy()

In [19]:
# 학습
from sklearn.neighbors import KNeighborsClassifier

clf = KNeighborsClassifier()  
clf.fit(X_train_scaled, y_train)

KNeighborsClassifier()

In [20]:
y_pred = clf.predict(X_test_scaled)

In [21]:
# cross_val_score으로 위 코드 구현

from sklearn.model_selection import cross_val_score

hist = []

for k in range(3,50):
    model = KNeighborsClassifier(n_neighbors=k)
    scores = cross_val_score(model, X_train_scaled, y_train, cv=5, scoring='accuracy')
    
    hist.append(scores.mean())

In [22]:
print(f'정확도: {max(hist)}')

정확도: 0.7702918832467013

In [23]:
np.argmax(hist)

32